
{% extends 'base.html' %}


{% block content %}

<div class="row">
<div class="col-2">
  <img src="{{ product.icon.url }}" alt="img-fluid">
</div>

  <div class="col-10 ">

      <a href="{{ product.url }}"> <h1>{{ product.title }}</h1> </a>



</div>

</div>

<div class="row">
<div class="col-8">
  <img src="{{ product.image.url }}" alt="img-fluid">
</div>

  <div class="col-4">

      <a href="javascript:{document.getElementById('upvote').submit()}"> <button class="btn btn-danger btn-lg btn-block" name="button">UPVOTE {{ product.votes_total }}</button>



</div>

</div>

<div class="row">
<div class="col-4">
  <h4>Hunted by {{ product.hunter.username }}</h4>
</div>

  <div class="col-4 text-right">

<h4><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
</svg> {{ product.pub_date_pretty}}</h4>


</div>

</div>

<div class="row">
<div class="col-8">
  <p> {{ product.body }}</p>
</div>



</div>



<form id="upvote" class="" action="{% url 'upvote' product.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="" value="">

</form>





{% endblock  %}
